.waypoint-box {
  display: flex;
}

.waypoint-box-head {
  margin-right: 10px;
}

.waypoint-box-body {
  flex: 1;
}

.waypoint-box-foot {
  margin-left: 10px;
}


.waypoint-box {
  margin-bottom: 5px;
}

.waypoint-box-head, .waypoint-box-foot {
  line-height: 24px;
}

.waypoint-box-body .form-control {
  font-size: 11px;

  padding: 3px 6px;
  height: 24px;
  border-radius: 0;
  box-shadow: none;

  &:focus {
    border-color: #999999;
    box-shadow: none;
  }
}

.waypoint-box-foot {
  text-align: right;
}

.waypoint-box-icon-link {
  color: #000000;
  opacity: 0.2;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    color: #000000;
    opacity: 0.5;
  }
}

.waypoint-box:first-child .waypoint-box-move-up,
.waypoint-box:last-child .waypoint-box-move-down {
  opacity: 0.1 !important;
  cursor: auto;
}

.waypoint-box-sort {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;

  .waypoint-box-icon-link {
    line-height: 12px;
    height: 12px;
  }
}
