html, body {
  height: 100%;
}

body {
  display: flex;
}

.app {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  flex: 0 0 52px;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  flex: 0 0 250px;
}

.map {
  flex: 1;
}



body {
  font-family: Verdana, sans-serif;
}
