.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.sidebar-foot {
  padding: 5px 10px;
  font-size: 11px;
  text-align: right;
}
